*{
    padding: 0px;
    margin: 0px;
}
.outer{
    width: 700px;
    height: 800px;
    margin: 0px auto;
}
.outer h1{
    text-align: center;
    color:white;
}
table{
    padding: 0px;
    margin: 0px;
}
p{
    font-size: 20px;
    color:white;
}
.border{
    width: 98%;
    padding: 5px;
    background-color: plum ;
    border: 1px solid black;
    font-weight: bold;
    color:white;

    
}
ul{
    font-size: 20px;
    margin-left: 45px;
    color:white;
}
h2{
    float: right;
    color:white;
}